@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Mono', sans-serif;
	background-color: #f7f7f7;
}

h1 {
	margin-bottom: 12px;
}

.card {
	width: 450px;
	margin: 40px;
	border: 4px solid #222;
}

.card::after {
	content: '';
	display: block;
}

.avatar {
	width: 100%;
	display: block;
}

.data {
	padding: 32px;
	padding-top: 24px;
}

.skill-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	margin-top: 16px;
}

.skill {
	padding: 2px 12px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 8px;
	font-weight: 500;
}

.promise {
	background: #10b981;
	margin-left: 0.1em;
	font-size: 0.7em;
	color: white;
	padding: 0.4rem;
	border-radius: 0.5em;
	position: static;
}

.nothing {
	background-color: #f7f7f7;
	color: black;
	font-size: 0.8em;
	border: 0.2em salmon solid;
	padding: 0.2rem;
}

.dsgn-btn {
	padding: 0.5em;
	margin-top: 0.5em;
	margin-right: 0.5em;
	background-color: #f8843f;
	border: none;
	color: khaki;
	border-radius: 0.5rem;
	font-weight: bold;
}
